on:
   push:
     branches: main
   schedule:
     - cron: "0 9,16 * * 1-5"

jobs:
  import-data:
    runs-on: ubuntu-latest
    steps:
      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::pacman 
            any::dplyr
            any::openxlsx
            any::readxl
            any::rjson
            any::jsonlite
            any::janitor
            any::gtools
            any::httr
            any::stringr
            any::readr
            any::tidyr

      - name: Check out repository
        uses: actions/checkout@v4

      - name: createJSONs
        run: Rscript -e 'source("create_jsons/create_JSONs.R")'

      - name: Commit results
        run: |
          git config --local user.email " "
          git config --local user.name "NISRA-Tech-Lab"
          git add github_action_jsons
          git add create_jsons/date_of_last_run.RDS
          git commit -m 'Data updated' || echo "No changes to commit"
          git push origin || echo "No changes to commit"
